.home-init{
	width: 100%;
	height: 100%;
	border-left:1px solid #ddd ;
	
	
}
.taskInfos{
	float: left;
    display: block;
    width: 70%;
    height: 100%;
  	
  	
}
.task-panel{
	width: 100%;
    height: 100%;
    overflow:hidden;
    overflow-y:scroll;
    border-left: 1px solid #ddd;
}
